@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;
}

#container-login {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 340px;
    height: 445px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-register {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 340px;
    height: 480px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Gaya untuk tombol */
button[type=submit],
#register-link {
    background-color: #7FC7D9; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    padding: 10px 20px; /* Padding tombol */
    border: none; /* Hapus border */
    border-radius: 3px; /* Sudut border */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efek transisi untuk perubahan warna */
    margin-top: 15px; /* Menambahkan jarak antara tombol dengan elemen di atasnya */
    display: block; /* Menjadikan tombol sebagai blok agar bisa diberikan margin */
    margin-left: auto; /* Membuat tombol berada di tengah secara horizontal */
    margin-right: auto; /* Membuat tombol berada di tengah secara horizontal */
}



#title {
    position: relative;
    background-color: #7FC7D9;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0.35em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.lock {
	position: relative;
	top: 2px;
}

.input {
    margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: #7FC7D9;
    padding: 8px 0px;
    margin-top: 15px;
}

.input-addon {
    float: left;
    background-color: #7FC7D9;
    border: 1px solid #7FC7D9;
    padding: 4px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

input[type=checkbox] {
    cursor: pointer;
}

input[type=text] {
    color: #949494;
    margin: 0;
    background-color: #7FC7D9;
    border: 1px solid #7FC7D9;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=text]:focus {
    border: 1px solid #7FC7D9;
}

input[type=password] {
    color: #949494;
    margin: 0;
    background-color: #7FC7D9;
    border: 1px solid #7FC7D9;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=password]:focus {
    border: 1px solid #7FC7D9;
}

input[type=email] {
    color: #949494;
    margin: 0;
    background-color: #7FC7D9;
    border: 1px solid #7FC7D9;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=email]:focus {
    border: 1px solid #7FC7D9;
}

.forgot-password {
    position: relative;
    bottom: 0%;
}

.forgot-password a:link {
    color: #7FC7D9;
    text-decoration: none;
}

.forgot-password a:visited {
    color: #7FC7D9;
    text-decoration: none;
}

.forgot-password a:hover {
    color: #FFF;
    transition: color 1s;
}

.privacy {
    margin-top: 5px;
    position: relative;
    font-size: 12px;
    bottom: 0%;
}

.privacy a:link {
    color: #7FC7D9;
    text-decoration: none;
}

.privacy a:visited {
    color: #7FC7D9;
    text-decoration: none;
}

.privacy a:hover {
    color: #7FC7D9;
    transition: color 1s;
}

*:focus {
    outline: none;
}

.remember-me {
    margin: 10px 0;
}

input[type=submit] {
    padding: 6px 25px;
    background: #373E4A;
    color: #7FC7D9;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

.register {
    margin: auto;
    padding: 16px 0;
    text-align: center;
    margin-top: 40px;
    width: 85%;
    border-top: 1px solid #C1C3C6;
    color: #7FC7D9; /* Warna teks */
}

/* Gaya untuk tautan "Register here" */
#register-2 {
    padding: 6px 25px;
    color: #7FC7D9; /* Warna teks */
    font-weight: bold;
    text-decoration: none; /* Menghilangkan garis bawah tautan */
    cursor: pointer;
    transition: color 0.3s ease; /* Efek transisi untuk perubahan warna saat hover */
}

/* Gaya tautan saat dihover */
#register-2:hover {
    color: #00796B; /* Warna teks saat tautan dihover */
}